<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Palun Registreeri</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Usernamep" name="usernamep" value="{{
          request.form.usernamep }}">
         <input type="password" placeholder="Passwordp" name="passwordp" value="{{
          request.form.passwordp }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    <form action="" method="post">
        <button type="submit" name="tagasi" value="tagasi">Tagasi</button>
    </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>